Student name: Jianwei Su

Date: 06/05/2022

8.2.7

In [1]:
import numpy as np
import pandas as pd
import yfinance as yf
import datetime

data=pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')

tickers=sorted(data[0]['Symbol'])

#Show the first 10 sorted tickers
tickers[:10]

['A', 'AAL', 'AAP', 'AAPL', 'ABBV', 'ABC', 'ABMD', 'ABT', 'ACN', 'ADBE']

In [2]:
# Load two years of stock data for every ticker in the current S&P 500.
tickers = yf.Tickers(tickers)
SP500 = tickers.history(group_by='ticker',period='2y')

SP500

[*********************100%***********************]  504 of 504 completed

2 Failed downloads:
- BF.B: No data found for this date range, symbol may be delisted
- BRK.B: No data found, symbol may be delisted

               UA                                                          \
             Open     High     Low  Close   Volume Dividends Stock Splits
Date
2020-06-08  10.44  10.5400  10.040  10.22  9732087         0            0
2020-06-09   9.97  10.0050   9.560   9.71  7927689         0            0
2020-06-10   9.73   9.7300   9.070   9.42  8591780         0            0
2020-06-11   8.62   8.7150   8.430   8.52  6612568         0            0
2020-06-12   9.00   9.0400   8.330   8.68  7021906         0            0
...           ...      ...     ...    ...      ...       ...          ...
2022-05-31   9.39   9.8000   9.290   9.70  6098025         0            0
2022-06-01   9.86   9.9200   9.285   9.41  4722103         0            0
2022-06-02   9.55  10.1500   9.470  10.06  4537973         0            0
2022-06-03   9.93  10.2682   9.880  10.08  4460364         0            0
2022-06-06  10.17  10.3900   9.970  10.12  3651407         0            0

                   NOC                          ...      ZBH            \
                  Open        High         Low  ...   Volume Dividends
Date                                            ...
2020-06-08  330.092453  337.523836  329.995839  ...  1370827       0.0
2020-06-09  335.214242  335.214242  329.522311  ...  1708255       0.0
2020-06-10  329.763917  332.508403  327.077411  ...  2040739       0.0
2020-06-11  318.901851  325.405527  310.030588  ...  1995419       0.0
2020-06-12  317.645625  317.645625  302.550911  ...  1909311       0.0
...                ...         ...         ...  ...      ...       ...
2022-05-31  465.970001  468.690002  456.839996  ...  1149600       0.0
2022-06-01  467.779999  471.910004  458.760010  ...  2386000       0.0
2022-06-02  466.070007  467.000000  449.690002  ...   962400       0.0
2022-06-03  462.170013  478.600006  462.170013  ...  1116900       0.0
2022-06-06  479.269989  483.940002  477.459991  ...   375637       0.0

                               FANG                                      \
           Stock Splits        Open        High         Low       Close
Date
2020-06-08            0   53.613674   58.074206   52.440361   58.006329
2020-06-09            0   55.514254   55.533648   51.684012   52.285213
2020-06-10            0   50.850084   51.703404   48.639212   48.648907
2020-06-11            0   43.538693   46.331373   42.889005   43.015064
2020-06-12            0   46.311980   47.252572   43.053854   45.536236
...                 ...         ...         ...         ...         ...
2022-05-31            0  157.009995  159.690002  150.610001  152.020004
2022-06-01            0  154.000000  156.389999  150.889999  152.889999
2022-06-02            0  151.350006  155.699997  149.250000  153.899994
2022-06-03            0  153.660004  155.720001  153.050003  154.660004
2022-06-06            0  155.759995  156.860001  153.252701  156.597900


             Volume Dividends Stock Splits
Date
2020-06-08  4506800       0.0            0
2020-06-09  4396800       0.0            0
2020-06-10  2612300       0.0            0
2020-06-11  3623300       0.0            0
2020-06-12  2637300       0.0            0
...             ...       ...          ...
2022-05-31  5259000       0.0            0
2022-06-01  3194600       0.0            0
2022-06-02  2084900       0.0            0
2022-06-03  1786900       0.0            0
2022-06-06   899520       0.0            0

[504 rows x 3526 columns]

In [3]:
SP500_a=SP500.stack(level=0).reset_index().rename(columns = {'level_1':'Ticker'})
SP500_a['Daily return'] = (SP500_a['Close']-SP500_a['Close'].shift(1))/SP500_a['Close'].shift(1)
SP500_a['1-week (5-day) moving average daily return'] = SP500_a['Daily return'].rolling(5).mean()
SP500_a['Rolling cumulative sum of volume'] = SP500_a['Volume'].cumsum()
SP500_a

,Date,Ticker,Adj Close,Close,Dividends,High,Low,Open,Stock Splits,Volume,Daily return,1-week (5-day) moving average daily return,Rolling cumulative sum of volume
0,2020-06-08,A,NaN,89.168297,0.0,89.464565,87.953574,88.200468,0.0,1804700.0,NaN,NaN,1.804700e+06
1,2020-06-08,AAL,NaN,20.309999,0.0,20.360001,19.129999,19.860001,0.0,175418900.0,-0.772228,NaN,1.772236e+08
2,2020-06-08,AAP,NaN,142.362503,0.0,145.173761,141.127102,142.294403,0.0,920500.0,6.009478,NaN,1.781441e+08
3,2020-06-08,AAPL,NaN,82.336632,0.0,82.371204,80.820571,81.544033,0.0,95654400.0,-0.421641,NaN,2.737985e+08
4,2020-06-08,ABBV,NaN,87.070702,0.0,87.457320,85.432201,85.524258,0.0,6621400.0,0.057497,NaN,2.804199e+08
...,...,...,...,...,...,...,...,...,...,...,...,...,...
252359,2022-06-06,YUM,NaN,119.519997,0.0,120.669998,118.709999,119.269997,0.0,463632.0,0.386382,0.273625,1.245144e+12
252360,2022-06-06,ZBH,NaN,118.900002,0.0,121.925003,118.260002,122.050003,0.0,375637.0,-0.005187,0.250803,1.245144e+12
252361,2022-06-06,ZBRA,NaN,336.470001,0.0,342.404999,334.500000,341.480011,0.0,215518.0,1.829857,0.549212,1.245144e+12
252362,2022-06-06,ZION,NaN,57.389999,0.0,57.779999,56.480000,57.189999,0.0,375195.0,-0.829435,0.501947,1.245145e+12
252363,2022-06-06,ZTS,NaN,171.149994,0.0,172.149994,170.035004,170.490005,0.0,645091.0,1.982227,0.672769,1.245145e+12

# a. Download a table (cross-sectional) containing reference data for each ticker. Reference data should include the full company name and any other useful column data you can find

In [4]:
table=data[0]
table

,Symbol,Security,SEC filings,GICS Sector,GICS Sub-Industry,Headquarters Location,Date first added,CIK,Founded
0,MMM,3M,reports,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1976-08-09,66740,1902
1,AOS,A. O. Smith,reports,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
2,ABT,Abbott,reports,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31,1800,1888
3,ABBV,AbbVie,reports,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
4,ABMD,Abiomed,reports,Health Care,Health Care Equipment,"Danvers, Massachusetts",2018-05-31,815094,1981
...,...,...,...,...,...,...,...,...,...
499,YUM,Yum! Brands,reports,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997
500,ZBRA,Zebra,reports,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969
501,ZBH,Zimmer Biomet,reports,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927
502,ZION,Zions Bancorp,reports,Financials,Regional Banks,"Salt Lake City, Utah",2001-06-22,109380,1873
503,ZTS,Zoetis,reports,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952

In [5]:
table= table.rename(columns = {"Symbol":"Ticker","Security":"Company Name"})
table

,Ticker,Company Name,SEC filings,GICS Sector,GICS Sub-Industry,Headquarters Location,Date first added,CIK,Founded
0,MMM,3M,reports,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1976-08-09,66740,1902
1,AOS,A. O. Smith,reports,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
2,ABT,Abbott,reports,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31,1800,1888
3,ABBV,AbbVie,reports,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
4,ABMD,Abiomed,reports,Health Care,Health Care Equipment,"Danvers, Massachusetts",2018-05-31,815094,1981
...,...,...,...,...,...,...,...,...,...
499,YUM,Yum! Brands,reports,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997
500,ZBRA,Zebra,reports,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969
501,ZBH,Zimmer Biomet,reports,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927
502,ZION,Zions Bancorp,reports,Financials,Regional Banks,"Salt Lake City, Utah",2001-06-22,109380,1873
503,ZTS,Zoetis,reports,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952

# b. Create a ‘transactions’ table, which has four columns: Date, Ticker, Amount, and BuySell. Add a bunch of transactions (at least ten) of your favorite stocks – both buys and sells (all long positions, no shorts, no day trading). Transactions should span a period of two years. Keep them self-consistent but somewhat arbitrary.

In [6]:
transactions_table=pd.DataFrame()

transactions_table['Date']=['2020-06-08',
                            '2020-07-08',
                            '2020-08-07',
                            '2020-09-08',
                            '2020-10-08',
                            '2020-11-09',
                            '2020-12-08',
                            '2021-01-08',
                            '2021-02-08',
                            '2021-03-08',
                            '2021-04-08',
                            '2021-05-10',
                            '2021-06-08',
                            '2021-07-08',
                            '2021-08-09',
                            '2021-09-08',
                            '2021-10-08',
                            '2021-11-08',
                            '2021-12-08',
                            '2022-01-10',
                            '2022-02-08',
                            '2022-03-08',
                            '2022-04-08',
                            '2022-05-09',
                            '2022-06-01']

transactions_table['Ticker']=['A', 'AAL', 'AAP', 'AAPL', 'ABBV', 'ABC', 'ABMD', 'ABT', 'ACN', 'ADBE','TSLA','AMZN','CCL','ADI',
                            'ADM','ADP','ADSK','AEE','AEP','AES','AFL','AIG','AIZ','AJG','AKAM']

transactions_table['Amount']=[1000,2000,3000,-4000,5000,-6000,7000,-8000,9000,-10000,11000,-12000,13000,-14000,15000,-16000,17000,-18000,19000,-20000,21000,-22000,23000,-24000,25000]

transactions_table['BuySell']=['Buy','Buy','Buy','Sell','Buy','Sell','Buy','Sell','Buy','Sell','Buy','Sell','Buy','Sell','Buy','Sell','Buy','Sell','Buy','Sell','Buy','Sell','Buy','Sell','Buy']


transactions_table

          Date Ticker  Amount BuySell
0   2020-06-08      A    1000     Buy
1   2020-07-08    AAL    2000     Buy
2   2020-08-07    AAP    3000     Buy
3   2020-09-08   AAPL   -4000    Sell
4   2020-10-08   ABBV    5000     Buy
5   2020-11-09    ABC   -6000    Sell
6   2020-12-08   ABMD    7000     Buy
7   2021-01-08    ABT   -8000    Sell
8   2021-02-08    ACN    9000     Buy
9   2021-03-08   ADBE  -10000    Sell
10  2021-04-08   TSLA   11000     Buy
11  2021-05-10   AMZN  -12000    Sell
12  2021-06-08    CCL   13000     Buy
13  2021-07-08    ADI  -14000    Sell
14  2021-08-09    ADM   15000     Buy
15  2021-09-08    ADP  -16000    Sell
16  2021-10-08   ADSK   17000     Buy
17  2021-11-08    AEE  -18000    Sell
18  2021-12-08    AEP   19000     Buy
19  2022-01-10    AES  -20000    Sell
20  2022-02-08    AFL   21000     Buy
21  2022-03-08    AIG  -22000    Sell
22  2022-04-08    AIZ   23000     Buy
23  2022-05-09    AJG  -24000    Sell
24  2022-06-01   AKAM   25000     Buy

In [7]:
transactions_table['Date']=transactions_table['Date'].transform(lambda x:pd.to_datetime(x))
transactions_table

         Date Ticker  Amount BuySell
0  2020-06-08      A    1000     Buy
1  2020-07-08    AAL    2000     Buy
2  2020-08-07    AAP    3000     Buy
3  2020-09-08   AAPL   -4000    Sell
4  2020-10-08   ABBV    5000     Buy
5  2020-11-09    ABC   -6000    Sell
6  2020-12-08   ABMD    7000     Buy
7  2021-01-08    ABT   -8000    Sell
8  2021-02-08    ACN    9000     Buy
9  2021-03-08   ADBE  -10000    Sell
10 2021-04-08   TSLA   11000     Buy
11 2021-05-10   AMZN  -12000    Sell
12 2021-06-08    CCL   13000     Buy
13 2021-07-08    ADI  -14000    Sell
14 2021-08-09    ADM   15000     Buy
15 2021-09-08    ADP  -16000    Sell
16 2021-10-08   ADSK   17000     Buy
17 2021-11-08    AEE  -18000    Sell
18 2021-12-08    AEP   19000     Buy
19 2022-01-10    AES  -20000    Sell
20 2022-02-08    AFL   21000     Buy
21 2022-03-08    AIG  -22000    Sell
22 2022-04-08    AIZ   23000     Buy
23 2022-05-09    AJG  -24000    Sell
24 2022-06-01   AKAM   25000     Buy

# c. Create a function that takes a date and returns a (cross-sectional) table containing a snapshot of your portfolio at that point in time (Ticker, Position).

In [8]:
def Snapshot(date):
    snap =  transactions_table[transactions_table['Date'] <= date]
    snap =  snap.rename(columns = {'Amount':'Position'})
    snap =  snap.groupby(['Ticker'],as_index=False).agg({'Position': 'sum'})
   
    snap['Date'] = pd.to_datetime(date)
    
    return snap

Snapshot('2021-06-07')

   Ticker  Position       Date
0       A      1000 2021-06-07
1     AAL      2000 2021-06-07
2     AAP      3000 2021-06-07
3    AAPL     -4000 2021-06-07
4    ABBV      5000 2021-06-07
5     ABC     -6000 2021-06-07
6    ABMD      7000 2021-06-07
7     ABT     -8000 2021-06-07
8     ACN      9000 2021-06-07
9    ADBE    -10000 2021-06-07
10   AMZN    -12000 2021-06-07
11   TSLA     11000 2021-06-07

i. The function should join the table with your stock reference data, to enrich with 
the full company name, etc.

In [9]:
def Snapshot(date):
    snap =  transactions_table[transactions_table['Date'] <= date]
    snap =  snap.rename(columns = {'Amount':'Position'})
    snap =  snap.groupby(['Ticker'],as_index=False).agg({'Position': 'sum'})
    
    snap['Date'] = pd.to_datetime(date)
   
    
    # It will give the intersection of two tables
    snap = snap.join(table.set_index(['Ticker']), how='inner',on='Ticker')
    
    
    
    return snap




Snapshot('2021-06-07')

,Ticker,Position,Date,Company Name,SEC filings,GICS Sector,GICS Sub-Industry,Headquarters Location,Date first added,CIK,Founded
0,A,1000,2021-06-07,Agilent Technologies,reports,Health Care,Health Care Equipment,"Santa Clara, California",2000-06-05,1090872,1999
1,AAL,2000,2021-06-07,American Airlines Group,reports,Industrials,Airlines,"Fort Worth, Texas",2015-03-23,6201,1934
2,AAP,3000,2021-06-07,Advance Auto Parts,reports,Consumer Discretionary,Automotive Retail,"Raleigh, North Carolina",2015-07-09,1158449,1932
3,AAPL,-4000,2021-06-07,Apple,reports,Information Technology,"Technology Hardware, Storage & Peripherals","Cupertino, California",1982-11-30,320193,1977
4,ABBV,5000,2021-06-07,AbbVie,reports,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
5,ABC,-6000,2021-06-07,AmerisourceBergen,reports,Health Care,Health Care Distributors,"Chesterbrook, Pennsylvania",2001-08-30,1140859,1985
6,ABMD,7000,2021-06-07,Abiomed,reports,Health Care,Health Care Equipment,"Danvers, Massachusetts",2018-05-31,815094,1981
7,ABT,-8000,2021-06-07,Abbott,reports,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31,1800,1888
8,ACN,9000,2021-06-07,Accenture,reports,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989
9,ADBE,-10000,2021-06-07,Adobe,reports,Information Technology,Application Software,"San Jose, California",1997-05-05,796343,1982
10,AMZN,-12000,2021-06-07,Amazon,reports,Consumer Discretionary,Internet & Direct Marketing Retail,"Seattle, Washington",2005-11-18,1018724,1994
11,TSLA,11000,2021-06-07,Tesla,reports,Consumer Discretionary,Automobile Manufacturers,"Palo Alto, California",2020-12-21,1318605,2003

ii. The function should join the table with the stock data table, to retrieve the open 
price, volume, and return for the given date, for each ticker

In [10]:
def Snapshot(date):
    snap =  transactions_table[transactions_table['Date'] <= date]
    snap =  snap.rename(columns = {'Amount':'Position'})
    snap =  snap.groupby(['Ticker'],as_index=False).agg({'Position': 'sum'})
   
    snap['Date'] = pd.to_datetime(date)
    
    # It will give the intersection of two tables
    snap = snap.join(table.set_index(['Ticker']), how='inner',on='Ticker')
    
    snap = snap.join(SP500_a.set_index(['Ticker','Date']), how='inner',on=['Ticker','Date'])
    
    
    return snap

Snapshot('2021-06-07')

,Ticker,Position,Date,Company Name,SEC filings,GICS Sector,GICS Sub-Industry,Headquarters Location,Date first added,CIK,...,Close,Dividends,High,Low,Open,Stock Splits,Volume,Daily return,1-week (5-day) moving average daily return,Rolling cumulative sum of volume
0,A,1000,2021-06-07,Agilent Technologies,reports,Health Care,Health Care Equipment,"Santa Clara, California",2000-06-05,1090872,...,136.902802,0.0,137.827761,136.624323,137.340416,0.0,936000.0,-0.214036,0.728965,6.461408e+11
1,AAL,2000,2021-06-07,American Airlines Group,reports,Industrials,Airlines,"Fort Worth, Texas",2015-03-23,6201,...,24.250000,0.0,24.770000,24.180000,24.490000,0.0,21173200.0,-0.822867,0.501049,6.461620e+11
2,AAP,3000,2021-06-07,Advance Auto Parts,reports,Consumer Discretionary,Automotive Retail,"Raleigh, North Carolina",2015-07-09,1158449,...,188.923981,0.0,191.145929,187.269770,189.658103,0.0,1111500.0,6.790680,1.387050,6.461631e+11
3,AAPL,-4000,2021-06-07,Apple,reports,Information Technology,"Technology Hardware, Storage & Peripherals","Cupertino, California",1982-11-30,320193,...,125.184799,0.0,125.602411,124.120878,125.453262,0.0,71057600.0,-0.337380,1.497619,6.462341e+11
4,ABBV,5000,2021-06-07,AbbVie,reports,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,...,109.291199,0.0,110.355000,108.633575,109.001068,0.0,5570100.0,-0.126961,1.057887,6.462397e+11
5,ABC,-6000,2021-06-07,AmerisourceBergen,reports,Health Care,Health Care Distributors,"Chesterbrook, Pennsylvania",2001-08-30,1140859,...,116.658745,0.0,117.536693,115.090270,115.800522,0.0,780900.0,0.067412,1.114177,6.462405e+11
6,ABMD,7000,2021-06-07,Abiomed,reports,Health Care,Health Care Equipment,"Danvers, Massachusetts",2018-05-31,815094,...,291.149994,0.0,298.769989,286.980011,290.320007,0.0,246500.0,1.495741,1.577898,6.462407e+11
7,ABT,-8000,2021-06-07,Abbott,reports,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31,1800,...,108.777657,0.0,109.647875,108.500769,108.757882,0.0,7933600.0,-0.626386,0.094485,6.462487e+11
8,ACN,9000,2021-06-07,Accenture,reports,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,...,279.837219,0.0,281.880041,278.716636,280.809059,0.0,1404000.0,1.572562,0.476473,6.462501e+11
9,ADBE,-10000,2021-06-07,Adobe,reports,Information Technology,Application Software,"San Jose, California",1997-05-05,796343,...,509.470001,0.0,509.779999,502.000000,504.989990,0.0,1768500.0,0.820594,0.665984,6.462518e+11
10,AMZN,-12000,2021-06-07,Amazon,reports,Consumer Discretionary,Internet & Direct Marketing Retail,"Seattle, Washington",2005-11-18,1018724,...,159.900497,0.0,160.399994,158.610001,159.866501,0.0,44316000.0,-0.392904,0.222557,6.463728e+11
11,TSLA,11000,2021-06-07,Tesla,reports,Consumer Discretionary,Automobile Manufacturers,"Palo Alto, California",2020-12-21,1318605,...,605.130005,0.0,610.000000,582.880005,591.830017,0.0,22543700.0,2.339570,0.923391,6.477919e+11

# d. Create a ‘scaffold’ table, which is the concatenation of the above function, for every business date over the two-year period. Be sure to add a ‘Date’ column

In [11]:
list(Snapshot('2021-06-07').columns.values)

['Ticker',
 'Position',
 'Date',
 'Company Name',
 'SEC filings',
 'GICS Sector',
 'GICS Sub-Industry',
 'Headquarters Location',
 'Date first added',
 'CIK',
 'Founded',
 'Adj Close',
 'Close',
 'Dividends',
 'High',
 'Low',
 'Open',
 'Stock Splits',
 'Volume',
 'Daily return',
 '1-week (5-day) moving average daily return',
 'Rolling cumulative sum of volume']

In [12]:
def scaffold_Portfolio():
    
    header=list(Snapshot('2021-06-07').columns.values)
    start_date = '2020-06-08'
    end_date = '2022-06-08'
    dates = list(pd.bdate_range(start=start_date, end=end_date))
    Portfolio = pd.DataFrame (columns = header, dtype=float)

    for date in dates:
            Portfolio = pd.concat([Portfolio, Snapshot(date)])

    return Portfolio


scaffold_Portfolio()

,Ticker,Position,Date,Company Name,SEC filings,GICS Sector,GICS Sub-Industry,Headquarters Location,Date first added,CIK,...,Close,Dividends,High,Low,Open,Stock Splits,Volume,Daily return,1-week (5-day) moving average daily return,Rolling cumulative sum of volume
0,A,1000.0,2020-06-08,Agilent Technologies,reports,Health Care,Health Care Equipment,"Santa Clara, California",2000-06-05,1090872.0,...,89.168297,0.0,89.464565,87.953574,88.200468,0.0,1804700.0,NaN,NaN,1.804700e+06
0,A,1000.0,2020-06-09,Agilent Technologies,reports,Health Care,Health Care Equipment,"Santa Clara, California",2000-06-05,1090872.0,...,88.654755,0.0,89.385567,88.210348,88.970779,0.0,1817300.0,-0.365321,0.588504,3.738994e+09
0,A,1000.0,2020-06-10,Agilent Technologies,reports,Health Care,Health Care Equipment,"Santa Clara, California",2000-06-05,1090872.0,...,88.694252,0.0,89.454690,88.348602,89.197918,0.0,1410300.0,-0.353601,0.594029,7.027401e+09
0,A,1000.0,2020-06-11,Agilent Technologies,reports,Health Care,Health Care Equipment,"Santa Clara, California",2000-06-05,1090872.0,...,83.973625,0.0,87.528899,83.963747,87.528899,0.0,2491300.0,-0.392860,0.641384,1.080182e+10
0,A,1000.0,2020-06-12,Agilent Technologies,reports,Health Care,Health Care Equipment,"Santa Clara, California",2000-06-05,1090872.0,...,85.040230,0.0,86.215448,82.946564,85.751286,0.0,1520000.0,-0.343630,0.666541,1.518326e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20,AJG,-24000.0,2022-06-06,Gallagher,reports,Financials,Insurance Brokers,"Rolling Meadows, Illinois",2016-05-31,354190.0,...,162.907501,0.0,164.860001,162.544998,163.729996,0.0,412724.0,-0.111058,0.559767,1.244115e+12
21,AKAM,25000.0,2022-06-06,Akamai,reports,Information Technology,Internet Services & Infrastructure,"Cambridge, Massachusetts",2007-07-12,1086222.0,...,101.269997,0.0,101.839996,100.459999,101.839996,0.0,444002.0,-0.378359,0.639187,1.244116e+12
22,AMZN,-12000.0,2022-06-06,Amazon,reports,Consumer Discretionary,Internet & Direct Marketing Retail,"Seattle, Washington",2005-11-18,1018724.0,...,126.020103,0.0,128.990005,124.010002,125.245003,0.0,107898106.0,-0.530424,0.143618,1.244308e+12
23,CCL,13000.0,2022-06-06,Carnival,reports,Consumer Discretionary,"Hotels, Resorts & Cruise Lines","Miami, Florida",1998-12-22,815097.0,...,13.675000,0.0,13.800000,13.340000,13.670000,0.0,20009684.0,-0.926288,-0.087529,1.244404e+12
24,TSLA,11000.0,2022-06-06,Tesla,reports,Consumer Discretionary,Automobile Manufacturers,"Palo Alto, California",2020-12-21,1318605.0,...,718.128296,0.0,734.590027,703.049988,733.059998,0.0,22321281.0,2.627827,0.994120,1.245029e+12

# e. ‘PnL’ (Profit and Loss) is your total portfolio profit/loss at any given point in time. For a given stock, the daily marked-to-market PnL is simply the return*position. Add a column containing the daily PnL for each ticker

In [13]:
scaffold_Portfolio=scaffold_Portfolio()
scaffold_Portfolio['Daily P&L'] = scaffold_Portfolio['Daily return'] * scaffold_Portfolio['Position']

scaffold_Portfolio

,Ticker,Position,Date,Company Name,SEC filings,GICS Sector,GICS Sub-Industry,Headquarters Location,Date first added,CIK,...,Dividends,High,Low,Open,Stock Splits,Volume,Daily return,1-week (5-day) moving average daily return,Rolling cumulative sum of volume,Daily P&L
0,A,1000.0,2020-06-08,Agilent Technologies,reports,Health Care,Health Care Equipment,"Santa Clara, California",2000-06-05,1090872.0,...,0.0,89.464565,87.953574,88.200468,0.0,1804700.0,NaN,NaN,1.804700e+06,NaN
0,A,1000.0,2020-06-09,Agilent Technologies,reports,Health Care,Health Care Equipment,"Santa Clara, California",2000-06-05,1090872.0,...,0.0,89.385567,88.210348,88.970779,0.0,1817300.0,-0.365321,0.588504,3.738994e+09,-365.320669
0,A,1000.0,2020-06-10,Agilent Technologies,reports,Health Care,Health Care Equipment,"Santa Clara, California",2000-06-05,1090872.0,...,0.0,89.454690,88.348602,89.197918,0.0,1410300.0,-0.353601,0.594029,7.027401e+09,-353.601241
0,A,1000.0,2020-06-11,Agilent Technologies,reports,Health Care,Health Care Equipment,"Santa Clara, California",2000-06-05,1090872.0,...,0.0,87.528899,83.963747,87.528899,0.0,2491300.0,-0.392860,0.641384,1.080182e+10,-392.860330
0,A,1000.0,2020-06-12,Agilent Technologies,reports,Health Care,Health Care Equipment,"Santa Clara, California",2000-06-05,1090872.0,...,0.0,86.215448,82.946564,85.751286,0.0,1520000.0,-0.343630,0.666541,1.518326e+10,-343.629824
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20,AJG,-24000.0,2022-06-06,Gallagher,reports,Financials,Insurance Brokers,"Rolling Meadows, Illinois",2016-05-31,354190.0,...,0.0,164.860001,162.544998,163.729996,0.0,412724.0,-0.111058,0.559767,1.244115e+12,2665.392631
21,AKAM,25000.0,2022-06-06,Akamai,reports,Information Technology,Internet Services & Infrastructure,"Cambridge, Massachusetts",2007-07-12,1086222.0,...,0.0,101.839996,100.459999,101.839996,0.0,444002.0,-0.378359,0.639187,1.244116e+12,-9458.972748
22,AMZN,-12000.0,2022-06-06,Amazon,reports,Consumer Discretionary,Internet & Direct Marketing Retail,"Seattle, Washington",2005-11-18,1018724.0,...,0.0,128.990005,124.010002,125.245003,0.0,107898106.0,-0.530424,0.143618,1.244308e+12,6365.088240
23,CCL,13000.0,2022-06-06,Carnival,reports,Consumer Discretionary,"Hotels, Resorts & Cruise Lines","Miami, Florida",1998-12-22,815097.0,...,0.0,13.800000,13.340000,13.670000,0.0,20009684.0,-0.926288,-0.087529,1.244404e+12,-12041.747529
24,TSLA,11000.0,2022-06-06,Tesla,reports,Consumer Discretionary,Automobile Manufacturers,"Palo Alto, California",2020-12-21,1318605.0,...,0.0,734.590027,703.049988,733.059998,0.0,22321281.0,2.627827,0.994120,1.245029e+12,28906.094350

# f. Add a column containing the running cumulative PnL per ticker

In [14]:
# Have to add dtype=float in Portfolio = pd.DataFrame (columns = header, dtype=float), it caused Data error before when I did not know I should add that. 

scaffold_Portfolio['Cumulative Daily P&L'] = scaffold_Portfolio.groupby(['Ticker'],as_index=False)['Daily P&L'].cumsum()
scaffold_Portfolio

,Ticker,Position,Date,Company Name,SEC filings,GICS Sector,GICS Sub-Industry,Headquarters Location,Date first added,CIK,...,High,Low,Open,Stock Splits,Volume,Daily return,1-week (5-day) moving average daily return,Rolling cumulative sum of volume,Daily P&L,Cumulative Daily P&L
0,A,1000.0,2020-06-08,Agilent Technologies,reports,Health Care,Health Care Equipment,"Santa Clara, California",2000-06-05,1090872.0,...,89.464565,87.953574,88.200468,0.0,1804700.0,NaN,NaN,1.804700e+06,NaN,NaN
0,A,1000.0,2020-06-09,Agilent Technologies,reports,Health Care,Health Care Equipment,"Santa Clara, California",2000-06-05,1090872.0,...,89.385567,88.210348,88.970779,0.0,1817300.0,-0.365321,0.588504,3.738994e+09,-365.320669,-3.653207e+02
0,A,1000.0,2020-06-10,Agilent Technologies,reports,Health Care,Health Care Equipment,"Santa Clara, California",2000-06-05,1090872.0,...,89.454690,88.348602,89.197918,0.0,1410300.0,-0.353601,0.594029,7.027401e+09,-353.601241,-7.189219e+02
0,A,1000.0,2020-06-11,Agilent Technologies,reports,Health Care,Health Care Equipment,"Santa Clara, California",2000-06-05,1090872.0,...,87.528899,83.963747,87.528899,0.0,2491300.0,-0.392860,0.641384,1.080182e+10,-392.860330,-1.111782e+03
0,A,1000.0,2020-06-12,Agilent Technologies,reports,Health Care,Health Care Equipment,"Santa Clara, California",2000-06-05,1090872.0,...,86.215448,82.946564,85.751286,0.0,1520000.0,-0.343630,0.666541,1.518326e+10,-343.629824,-1.455412e+03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20,AJG,-24000.0,2022-06-06,Gallagher,reports,Financials,Insurance Brokers,"Rolling Meadows, Illinois",2016-05-31,354190.0,...,164.860001,162.544998,163.729996,0.0,412724.0,-0.111058,0.559767,1.244115e+12,2665.392631,5.592204e+04
21,AKAM,25000.0,2022-06-06,Akamai,reports,Information Technology,Internet Services & Infrastructure,"Cambridge, Massachusetts",2007-07-12,1086222.0,...,101.839996,100.459999,101.839996,0.0,444002.0,-0.378359,0.639187,1.244116e+12,-9458.972748,-3.748950e+04
22,AMZN,-12000.0,2022-06-06,Amazon,reports,Consumer Discretionary,Internet & Direct Marketing Retail,"Seattle, Washington",2005-11-18,1018724.0,...,128.990005,124.010002,125.245003,0.0,107898106.0,-0.530424,0.143618,1.244308e+12,6365.088240,1.262283e+06
23,CCL,13000.0,2022-06-06,Carnival,reports,Consumer Discretionary,"Hotels, Resorts & Cruise Lines","Miami, Florida",1998-12-22,815097.0,...,13.800000,13.340000,13.670000,0.0,20009684.0,-0.926288,-0.087529,1.244404e+12,-12041.747529,-2.898832e+06
24,TSLA,11000.0,2022-06-06,Tesla,reports,Consumer Discretionary,Automobile Manufacturers,"Palo Alto, California",2020-12-21,1318605.0,...,734.590027,703.049988,733.059998,0.0,22321281.0,2.627827,0.994120,1.245029e+12,28906.094350,9.812640e+06

# g. Add a column containing the running cumulative PnL for your entire portfolio.

In [15]:
scaffold_Portfolio['Cumulative Daily Portfolio P&L'] = scaffold_Portfolio['Daily P&L'].cumsum()
scaffold_Portfolio

,Ticker,Position,Date,Company Name,SEC filings,GICS Sector,GICS Sub-Industry,Headquarters Location,Date first added,CIK,...,Low,Open,Stock Splits,Volume,Daily return,1-week (5-day) moving average daily return,Rolling cumulative sum of volume,Daily P&L,Cumulative Daily P&L,Cumulative Daily Portfolio P&L
0,A,1000.0,2020-06-08,Agilent Technologies,reports,Health Care,Health Care Equipment,"Santa Clara, California",2000-06-05,1090872.0,...,87.953574,88.200468,0.0,1804700.0,NaN,NaN,1.804700e+06,NaN,NaN,NaN
0,A,1000.0,2020-06-09,Agilent Technologies,reports,Health Care,Health Care Equipment,"Santa Clara, California",2000-06-05,1090872.0,...,88.210348,88.970779,0.0,1817300.0,-0.365321,0.588504,3.738994e+09,-365.320669,-3.653207e+02,-3.653207e+02
0,A,1000.0,2020-06-10,Agilent Technologies,reports,Health Care,Health Care Equipment,"Santa Clara, California",2000-06-05,1090872.0,...,88.348602,89.197918,0.0,1410300.0,-0.353601,0.594029,7.027401e+09,-353.601241,-7.189219e+02,-7.189219e+02
0,A,1000.0,2020-06-11,Agilent Technologies,reports,Health Care,Health Care Equipment,"Santa Clara, California",2000-06-05,1090872.0,...,83.963747,87.528899,0.0,2491300.0,-0.392860,0.641384,1.080182e+10,-392.860330,-1.111782e+03,-1.111782e+03
0,A,1000.0,2020-06-12,Agilent Technologies,reports,Health Care,Health Care Equipment,"Santa Clara, California",2000-06-05,1090872.0,...,82.946564,85.751286,0.0,1520000.0,-0.343630,0.666541,1.518326e+10,-343.629824,-1.455412e+03,-1.455412e+03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20,AJG,-24000.0,2022-06-06,Gallagher,reports,Financials,Insurance Brokers,"Rolling Meadows, Illinois",2016-05-31,354190.0,...,162.544998,163.729996,0.0,412724.0,-0.111058,0.559767,1.244115e+12,2665.392631,5.592204e+04,3.221940e+07
21,AKAM,25000.0,2022-06-06,Akamai,reports,Information Technology,Internet Services & Infrastructure,"Cambridge, Massachusetts",2007-07-12,1086222.0,...,100.459999,101.839996,0.0,444002.0,-0.378359,0.639187,1.244116e+12,-9458.972748,-3.748950e+04,3.220995e+07
22,AMZN,-12000.0,2022-06-06,Amazon,reports,Consumer Discretionary,Internet & Direct Marketing Retail,"Seattle, Washington",2005-11-18,1018724.0,...,124.010002,125.245003,0.0,107898106.0,-0.530424,0.143618,1.244308e+12,6365.088240,1.262283e+06,3.221631e+07
23,CCL,13000.0,2022-06-06,Carnival,reports,Consumer Discretionary,"Hotels, Resorts & Cruise Lines","Miami, Florida",1998-12-22,815097.0,...,13.340000,13.670000,0.0,20009684.0,-0.926288,-0.087529,1.244404e+12,-12041.747529,-2.898832e+06,3.220427e+07
24,TSLA,11000.0,2022-06-06,Tesla,reports,Consumer Discretionary,Automobile Manufacturers,"Palo Alto, California",2020-12-21,1318605.0,...,703.049988,733.059998,0.0,22321281.0,2.627827,0.994120,1.245029e+12,28906.094350,9.812640e+06,3.223318e+07

# h. Create a summary table of your average daily PnL, total PnL, and overall yield per ticker. 
i. ‘Yield’ is PnL/Position.

ii. You should exclude days when you had no position in that stock, from the 
average.

In [16]:
# Create a Ticker column for per ticker in summary table.
summary_Table = pd.DataFrame(dtype=float)
summary_Table['Ticker'] = scaffold_Portfolio['Ticker'].unique()
summary_Table

   Ticker
0       A
1     AAL
2     AAP
3    AAPL
4    ABBV
5     ABC
6    ABMD
7     ABT
8     ACN
9    ADBE
10   TSLA
11   AMZN
12    CCL
13    ADI
14    ADM
15    ADP
16   ADSK
17    AEE
18    AEP
19    AES
20    AFL
21    AIG
22    AIZ
23    AJG
24   AKAM

In [17]:
summary_Table=summary_Table.sort_values(by='Ticker',ascending = True).reset_index()
del summary_Table['index']
summary_Table

   Ticker
0       A
1     AAL
2     AAP
3    AAPL
4    ABBV
5     ABC
6    ABMD
7     ABT
8     ACN
9    ADBE
10    ADI
11    ADM
12    ADP
13   ADSK
14    AEE
15    AEP
16    AES
17    AFL
18    AIG
19    AIZ
20    AJG
21   AKAM
22   AMZN
23    CCL
24   TSLA

In [18]:
# Average daily P&L

# temp_a should be used to as total Daily P&L for per ticker.
temp_a = scaffold_Portfolio.groupby('Ticker').agg({'Daily P&L': 'sum'}).reset_index()
temp_a

   Ticker     Daily P&L
0       A -1.391993e+05
1     AAL -8.337811e+05
2     AAP  1.346936e+07
3    AAPL  4.582085e+05
4    ABBV -3.793934e+05
5     ABC -8.130432e+04
6    ABMD  4.216110e+06
7     ABT  1.753346e+06
8     ACN  4.862047e+06
9    ADBE -2.141338e+06
10    ADI  2.229857e+06
11    ADM -1.744959e+06
12    ADP -6.051358e+06
13   ADSK  2.779240e+05
14    AEE  1.588209e+06
15    AEP  8.861068e+04
16    AES  1.557446e+06
17    AFL  2.990652e+06
18    AIG  1.062469e+04
19    AIZ  1.907593e+06
20    AJG  5.592204e+04
21   AKAM -3.748950e+04
22   AMZN  1.262283e+06
23    CCL -2.898832e+06
24   TSLA  9.812640e+06

In [19]:
temp_b = scaffold_Portfolio.groupby(['Ticker','Date'])[['Company Name']].count()
temp_b

                   Company Name
Ticker Date
A      2020-06-08             1
       2020-06-09             1
       2020-06-10             1
       2020-06-11             1
       2020-06-12             1
...                         ...
TSLA   2022-05-31             1
       2022-06-01             1
       2022-06-02             1
       2022-06-03             1
       2022-06-06             1

[6276 rows x 1 columns]

In [20]:
temp_b=temp_b.pivot_table(index = ['Ticker'], columns=[], values=['Company Name'], aggfunc=np.sum)
temp_b

        Company Name
Ticker
A                504
AAL              483
AAP              461
AAPL             440
ABBV             418
ABC              396
ABMD             376
ABT              355
ACN              335
ADBE             316
ADI              231
ADM              209
ADP              188
ADSK             166
AEE              145
AEP              124
AES              102
AFL               82
AIG               63
AIZ               40
AJG               20
AKAM               4
AMZN             272
CCL              252
TSLA             294

In [21]:
temp_b=temp_b.reset_index()
temp_b

   Ticker  Company Name
0       A           504
1     AAL           483
2     AAP           461
3    AAPL           440
4    ABBV           418
5     ABC           396
6    ABMD           376
7     ABT           355
8     ACN           335
9    ADBE           316
10    ADI           231
11    ADM           209
12    ADP           188
13   ADSK           166
14    AEE           145
15    AEP           124
16    AES           102
17    AFL            82
18    AIG            63
19    AIZ            40
20    AJG            20
21   AKAM             4
22   AMZN           272
23    CCL           252
24   TSLA           294

In [22]:
summary_Table['Average daily P&L'] = temp_a['Daily P&L']/temp_b['Company Name']
summary_Table

   Ticker  Average daily P&L
0       A        -276.189007
1     AAL       -1726.254893
2     AAP       29217.690698
3    AAPL        1041.382975
4    ABBV        -907.639599
5     ABC        -205.313948
6    ABMD       11213.059700
7     ABT        4939.002125
8     ACN       14513.572392
9    ADBE       -6776.385224
10    ADI        9653.059248
11    ADM       -8349.084024
12    ADP      -32188.072724
13   ADSK        1674.240816
14    AEE       10953.164721
15    AEP         714.602224
16    AES       15269.079913
17    AFL       36471.370069
18    AIG         168.645815
19    AIZ       47689.826380
20    AJG        2796.102002
21   AKAM       -9372.374752
22   AMZN        4640.747811
23    CCL      -11503.302964
24   TSLA       33376.327910

In [23]:
# Total P&L
summary_Table['Total P&L'] = temp_a['Daily P&L']
summary_Table

   Ticker  Average daily P&L     Total P&L
0       A        -276.189007 -1.391993e+05
1     AAL       -1726.254893 -8.337811e+05
2     AAP       29217.690698  1.346936e+07
3    AAPL        1041.382975  4.582085e+05
4    ABBV        -907.639599 -3.793934e+05
5     ABC        -205.313948 -8.130432e+04
6    ABMD       11213.059700  4.216110e+06
7     ABT        4939.002125  1.753346e+06
8     ACN       14513.572392  4.862047e+06
9    ADBE       -6776.385224 -2.141338e+06
10    ADI        9653.059248  2.229857e+06
11    ADM       -8349.084024 -1.744959e+06
12    ADP      -32188.072724 -6.051358e+06
13   ADSK        1674.240816  2.779240e+05
14    AEE       10953.164721  1.588209e+06
15    AEP         714.602224  8.861068e+04
16    AES       15269.079913  1.557446e+06
17    AFL       36471.370069  2.990652e+06
18    AIG         168.645815  1.062469e+04
19    AIZ       47689.826380  1.907593e+06
20    AJG        2796.102002  5.592204e+04
21   AKAM       -9372.374752 -3.748950e+04
22   AMZN        4640.747811  1.262283e+06
23    CCL      -11503.302964 -2.898832e+06
24   TSLA       33376.327910  9.812640e+06

In [24]:
# Get average position
temp_c = scaffold_Portfolio.groupby('Ticker').agg({'Position': 'mean'}).reset_index()
temp_c

   Ticker  Position
0       A    1000.0
1     AAL    2000.0
2     AAP    3000.0
3    AAPL   -4000.0
4    ABBV    5000.0
5     ABC   -6000.0
6    ABMD    7000.0
7     ABT   -8000.0
8     ACN    9000.0
9    ADBE  -10000.0
10    ADI  -14000.0
11    ADM   15000.0
12    ADP  -16000.0
13   ADSK   17000.0
14    AEE  -18000.0
15    AEP   19000.0
16    AES  -20000.0
17    AFL   21000.0
18    AIG  -22000.0
19    AIZ   23000.0
20    AJG  -24000.0
21   AKAM   25000.0
22   AMZN  -12000.0
23    CCL   13000.0
24   TSLA   11000.0

In [25]:
# Overall yield per ticker
summary_Table['Overall yield per ticker'] = summary_Table['Total P&L']/temp_c['Position']

summary_Table

   Ticker  Average daily P&L     Total P&L  Overall yield per ticker
0       A        -276.189007 -1.391993e+05               -139.199260
1     AAL       -1726.254893 -8.337811e+05               -416.890557
2     AAP       29217.690698  1.346936e+07               4489.785137
3    AAPL        1041.382975  4.582085e+05               -114.552127
4    ABBV        -907.639599 -3.793934e+05                -75.878670
5     ABC        -205.313948 -8.130432e+04                 13.550721
6    ABMD       11213.059700  4.216110e+06                602.301492
7     ABT        4939.002125  1.753346e+06               -219.168219
8     ACN       14513.572392  4.862047e+06                540.227417
9    ADBE       -6776.385224 -2.141338e+06                214.133773
10    ADI        9653.059248  2.229857e+06               -159.275478
11    ADM       -8349.084024 -1.744959e+06               -116.330571
12    ADP      -32188.072724 -6.051358e+06                378.209855
13   ADSK        1674.240816  2.779240e+05                 16.348469
14    AEE       10953.164721  1.588209e+06                -88.233827
15    AEP         714.602224  8.861068e+04                  4.663720
16    AES       15269.079913  1.557446e+06                -77.872308
17    AFL       36471.370069  2.990652e+06                142.412016
18    AIG         168.645815  1.062469e+04                 -0.482940
19    AIZ       47689.826380  1.907593e+06                 82.938828
20    AJG        2796.102002  5.592204e+04                 -2.330085
21   AKAM       -9372.374752 -3.748950e+04                 -1.499580
22   AMZN        4640.747811  1.262283e+06               -105.190284
23    CCL      -11503.302964 -2.898832e+06               -222.987104
24   TSLA       33376.327910  9.812640e+06                892.058219

# i. Display your total PnL at the end of the two years.

In [26]:
scaffold_Portfolio['Daily P&L'].sum()

32233175.325974263

In [27]:
# Check if the value is correct
summary_Table['Total P&L'].sum()

32233175.325974267